*{
    margin: 0;
    padding: 0;
}
#banner{
    background: linear-gradient(rgba(0,0,0,0.5), #000000),url(images/banner.JPG);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-bottom: 20px;

}
.logo{
   
    position: relative;
    top: 50%;
    right: 50%;
    left: 50%;
    text-align: center;

}
.logo-div{
    text-align: center;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 60px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-shadow: #000000;
}
.banner-text p{
    font-size: 20px;
    font-style: italic;
    text-shadow: #000000;
}
.banner-btn{
    margin: 70px;
    
}
.banner-btn a{
width: 150px;
text-decoration: none;
display: inline-block;
margin: 0 10px;
padding: 12px 0;
color: #fff;
border: 2px solid #fff;
position: relative;
z-index: 1;
transition: color 0.5s;
border-radius: 50px;
}
.banner-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;
    border-radius: 50px;
}
.banner-btn a:hover{
    color: black;
}
.section{
    background-color: #27242e;
}
#side-nav{
    width: auto;
    height: auto;
    position: fixed;
    right: 0;
    top: 50px;
    
    z-index: 2;
}
nav ul li{
list-style: none;
margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
 
}
#menu-btn{
    width: 50px;
    height: 50px;
    background: #fff;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menu-btn img{
    width: 20px;
    margin-top: 15px;
}
@media screen and (max-width: 770px) {
    .banner-text h1{
        font-size: 40px;
    }
        .banner-btn a{
            display: block;
            margin: 20px auto;
        }
}

 
  







.turneringar-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    

}

#omoss{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #141316;
}
#omoss div{
   height: 150px;
   width: 75;
    padding: 20px;
    
    background-color: #27242e;
    border-radius: 2px;
    border-style: none;
}



.logo-container.section1{
   
    height: 100vh;
    margin: 0;
    padding: 0;
   
    background-color: #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#banner2{
   
    background: url(images/logolong.JPG);
    background-size: 30%;
    background-position: center;
    height: 40vh;
    margin-top: 20px;
}
.info-text{
    text-align: center;
    color: #fff;
    padding: 30px;

}
.info-text h1{
    font-size: 60px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-shadow: #000000;
}
.info-text p{
    font-size: 20px;
    font-style: italic;
    text-shadow: #000000;
}
.kort{
    background: linear-gradient(rgba(0,0,0,0.5), #000000),url(images/banner.JPG);
    background-size: cover;
    background-position: center;
    
    margin-bottom: 20px;
}
.purple-color{
    background-color: #27242e;
}
.omoss{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
.omoss h1{
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}
.omoss p{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}
.omoss-col{
    color: #fff;
    background-color: #27242e;
    width: 80%;
    
flex-basis: 50%;
border-radius: 10px;

margin: 5%;
padding: 20px 12px;
}
    /* styles.css */

.moving-box {
    position: relative;
    animation: moveRight 5s linear infinite;
}

@keyframes moveRight {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

img {
    max-width: 100%;
    height: auto;
}
/* styles.css */

.moving-box {
    position: relative;
    animation: moveRight 7s linear infinite;
}

@keyframes moveRight {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

img {
    max-width: 100%;
    height: auto;
}
.font-cormorant{

color: #fff;
    font-family: cormorant;
    font-size: 35px;
    font-weight: 700;
    font-style: normal;
}
.map{

}
